/* ==================== */
/* Custom properties    */
/* ==================== */

:root {
    /* Colors */
    --clr-primary-hsl: 246 80% 60%;
    --clr-primary: hsl( var(--clr-primary-hsl) );
    --clr-work-hsl: 15 100% 70%;
    --clr-work: hsl( var(--clr-work-hsl) );
    --clr-play-hsl: 195 74% 62%;
    --clr-play: hsl( var(--clr-play-hsl) );
    --clr-study-hsl: 348 100% 68%;
    --clr-study: hsl( var(--clr-study-hsl) );
    --clr-exercise-hsl: 145 58% 55%;
    --clr-exercise: hsl( var(--clr-exercise-hsl) );
    --clr-social-hsl: 264 64% 52%;
    --clr-social: hsl( var(--clr-social-hsl) );
    --clr-selfcare-hsl: 43 84% 65%;
    --clr-selfcare: hsl( var(--clr-selfcare-hsl) );

    --clr-neutral-100-hsl: 0 0% 100%;
    --clr-neutral-100: hsl( var(--clr-neutral-100-hsl) );
    --clr-neutral-400-hsl: 236 100% 87%;
    --clr-neutral-400: hsl( var(--clr-neutral-400-hsl) );
    --clr-neutral-500-hsl: 235 45% 61%;
    --clr-neutral-500: hsl( var(--clr-neutral-500-hsl) );
    --clr-neutral-600-hsl: 235 39% 34%;
    --clr-neutral-600: hsl( var(--clr-neutral-600-hsl) );
    --clr-neutral-700-hsl: 235 46% 20%;
    --clr-neutral-700: hsl( var(--clr-neutral-700-hsl) );
    --clr-neutral-800-hsl: 235 43% 10%;
    --clr-neutral-800: hsl( var(--clr-neutral-800-hsl) );

    /* Font families */
    --ff-sans-serif: 'Rubik', sans-serif;

    /* Font sizes */
    --fs-400: 1.125em; /* 18px */
    --fs-300: 0.778em; /* 14px */
    --fs-500: clamp(1.222em, 4vw, 2.333em); /* 22px -> 42px */
    --fs-700: clamp(1.778em, 5vw, 3.111em); /* 32px -> 56px */

    --box-shadow: 0px 4px 0.5em hsl(0 0% 0% / 0.2);
    --user-card-space: 3.75rem;
    --card-space: 2rem;
}

@media (min-width: 65em) {
    :root {
        --card-space: 2.5rem;
    }
}


/* ==================== */
/* General reset        */
/* ==================== */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing + standardize font sizes */
*, *::before, *::after {
    box-sizing: border-box;
    font-size: 1em;
}

/* Reset margins */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Set up body */
body {
    /* Colors */
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-100);

    /* Font styling */
    font-family: var(--ff-sans-serif);
    font-size: var(--fs-400);
    font-weight: 400;
    line-height: 1.5;

    /* Center content */
    display: grid;
    place-items: center;
    min-height: 100vh;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Remove animations if preferred */
@media (prefers-reduced-motion: reduce) {  
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ==================== */
/* Utility classes      */
/* ==================== */

/* Colors */
.text-neutral-100 { color: var(--clr-neutral-100); }
.text-neutral-400 { color: var(--clr-neutral-400); }
.text-neutral-500 { color: var(--clr-neutral-500); }
.text-neutral-600 { color: var(--clr-neutral-600); }
.text-neutral-700 { color: var(--clr-neutral-700); }
.text-neutral-800 { color: var(--clr-neutral-800); }

.bg-primary { background-color: var(--clr-primary); }
.bg-work { background-color: var(--clr-work); }
.bg-play { background-color: var(--clr-play); }
.bg-study { background-color: var(--clr-study); }
.bg-exercise { background-color: var(--clr-exercise); }
.bg-social { background-color: var(--clr-social); }
.bg-selfcare { background-color: var(--clr-selfcare); }
.bg-neutral-100 { background-color: var(--clr-neutral-100); }
.bg-neutral-400 { background-color: var(--clr-neutral-400); }
.bg-neutral-500 { background-color: var(--clr-neutral-500); }
.bg-neutral-600 { background-color: var(--clr-neutral-600); }
.bg-neutral-700 { background-color: var(--clr-neutral-700); }
.bg-neutral-800 { background-color: var(--clr-neutral-800); }

/* Font styling */
.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-700 { font-size: var(--fs-700); }

.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }


/* ==================== */
/* Components           */
/* ==================== */

main {
    padding: 5rem 1.5rem;
    width: 100%;
}

/* Grid elements */
.main-grid {
    width: 100%;
    max-width: 70rem;
    margin: auto;
    display: grid;
    row-gap: calc( var(--card-space) + 1.5rem );
    column-gap: 1.5rem;
}

@media (min-width: 32.5em) {
    .main-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 50em) {
    .main-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 65em) {
    .main-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: var(--card-space);
    }
}

/* User card elements */
.user-card {
    width: 100%;
    
    position: relative;
    margin-bottom: var(--user-card-space);

    box-shadow: var(--box-shadow);
}

.user-card--top, .user-card--bottom {
    width: 100%;
    padding: 1.25rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.user-card--top {
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1.25rem;
    align-items: center;

    position: relative;
    z-index: 1;
}

.user-card--bottom {
    justify-content: space-around;
    align-items: end;

    position: absolute;
    height: 100%;
    top: var(--user-card-space);
}

.user--pfp {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    outline: 2px solid var(--clr-neutral-100);
    outline-offset: -1px;
}

.user--name {
    line-height: 1.2;
}

.sort--daily, .sort--weekly, .sort--monthly {
    transition: color 100ms ease-in-out;
}

.sort--daily:hover, .sort--weekly:hover, .sort--monthly:hover,
.sort--daily:focus, .sort--weekly:focus, .sort--monthly:focus {
    color: var(--clr-neutral-100);
}

[aria-selected="true"] {
    color: var(--clr-neutral-100);
}

@media (min-width: 32.5em) {
    .user-card {
        grid-column: 1 / -1;
    }
}

@media (min-width: 65em) {
    .user-card {
        grid-column: 1;
        grid-row: 1 / -3;
        margin-top: calc(-1 * var(--card-space) );
    }

    .user-card--top {
        height: 77.5%;
        padding: 2rem;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .user-card--bottom {
        padding: 2rem;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        gap: 1rem;
    }

    .user--pfp {
        width: 5rem;
    }
}

/* Stat card elements */
.card {
    width: 100%;
    padding: 1.25rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: var(--box-shadow);

    display: grid;
    grid-template-areas:
        "title dots"
        "current previous";
    align-items: center;

    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.card--work::before,
.card--play::before,
.card--study::before,
.card--exercise::before,
.card--social::before,
.card--selfcare::before {
    
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    inset: 0;
    top: calc(-1 * var(--card-space) );
    bottom: 5px;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: top -0.667rem right 1rem;
}

.card--work::before {
    background-color: var(--clr-work);
    background-image: url("../images/icon-work.svg");
}
.card--play::before {
    background-color: var(--clr-play);
    background-image: url("../images/icon-play.svg");
}
.card--study::before {
    background-color: var(--clr-study);
    background-image: url("../images/icon-study.svg");
    }
.card--exercise::before {
    background-color: var(--clr-exercise);
    background-image: url("../images/icon-exercise.svg");
    background-position-y: top;
}
.card--social::before {
    background-color: var(--clr-social);
    background-image: url("../images/icon-social.svg");
    background-position-y: top -1rem;
}
.card--selfcare::before {
    background-color: var(--clr-selfcare);
    background-image: url("../images/icon-self-care.svg");
}

.card:hover,
.card:focus {
    background-color: var(--clr-neutral-600);
}

.card--title {
    grid-area: title;
}

.card--dots {
    grid-area: dots;
    display: flex;
    justify-self: end;
    width: min-content;
    filter: none;
    transition: filter 150ms ease-in-out;
}

.card--dots:hover,
.card--dots:focus {
    filter: brightness(200%);
}

.card--current {
    grid-area: current;
}

.card--previous {
    grid-area: previous;
    justify-self: end;
}

@media (min-width: 32.5em) {
    .card {
        grid-template-areas:
            "title dots"
            "current current"
            "previous previous";
    }

    .card--previous {
        justify-self: start;
    }
}

@media (min-width: 65em) {
    .card {
        padding: 1.75rem;
    }

    .card--current {
        padding-top: 0.2em;
    }
}